{% extends 'FinalProject/base.html' %}

<!-- 
# file: import_image.html
# author: Thomas Lee (tlee03@bu.edu), 12/9/2024
# This template extends the base template and is used for uploading an image.
# It includes a form to upload the original image file, allowing users to select 
# and submit an image to the server.
-->

{% block title %}Upload Image{% endblock %}

{% block content %}
  <!-- Main header for the page -->
  <h1 class="mb-4">Upload Image</h1>

  <!-- Form to upload the image file -->
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}  <!-- CSRF token to prevent cross-site request forgery -->
    
    <div class="form-group">
      <label for="id_image_file" class="h5">Original Image</label>
      {{ form.image_file }}  <!-- Render the file input field for the image -->
    </div>

    <!-- Add a slider for controlling the corruption level -->
    <div class="form-group">
      <label for="corruption_level" class="h5">Corruption Level (0 to 100)</label>
      <input type="range" id="corruption_level" name="corruption_level" min="0" max="100" value="30" class="form-control-range">
      <small class="form-text text-muted">Adjust the slider to set the corruption level.</small>
    </div>

    <!-- Submit button to upload the image -->
    <button type="submit" class="btn btn-primary mt-4">Upload</button>
  </form>
  
{% endblock %}
